h1 {
	color: rgb(30, 30, 30);
	font-family: 'Inter Tight', sans-serif;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
}

h2 {
	color: blue;
}


h1, h2 {
	font-family: 'Inter Tight', sans-serif;
}

a {
	text-decoration: none;
}

div {
	background-color: white;
	padding: 15px;
	margin: 50px;
	border-radius: 5px;
	border-style:solid;
	display: flexbox;
	flex-direction: column;

	align-content: center;

}

body {
	background-color: rgb(230,230,230);
}

 
img {
	border-radius: 50%;
}


.button-blue {
	background-color: lightblue;
	padding: 15px;
}

.top-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 700px;
	height: auto;

}